body,html{
    height:100%;
}
.header{
    width: 100%;
    height: 30px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    ul{
        display: flex;
        height: 100%;
        padding-left:25px;
        li{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            span{
                padding: 0 10px;
            }
        }
    }
    ol{
        display: flex;
        height: 100%;
        padding-right: 100px;
        li{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                padding: 0 10px;
            }
        }
    }
}
.daohang{
    width: 100%;
    height: 50px; 
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white; .ln{
               img{
                width: 100%;
                height: 100%;
            } 
            }
    ul{
        display: flex;
        height: 100%;
        // padding-left:25px;
        li{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
           
             
        }
    }
    ol{
        display: flex;
        height: 100%;
        padding-right: 100px;
        li{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.box{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    display: none;
  ul{
    display: flex;
    li{
        display: flex;
        padding: 20px;
        flex: 1;
        flex-direction: column;
        align-items: center;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #333;
            margin-bottom: 15px;
            img{
                width: 160px;
                height: 110px;
                display: block;
            }
        }
        p{
         margin-bottom: 5px;
        }
        &:last-child{
           > div{
                border: none;
            }
        }


    }
}
}
.nav{
    width: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.banner{
    width: 100%;
    img{
        position: absolute;
        width: 100%;
        margin: 0 auto;
    }
    .swiper-slide{
        img{
            position: relative;
            width: 386px;
            height: 302px;
            margin: 90px auto;
            
        }
    }
}
.fuli{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.shoufa{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.tongkuan{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.tongkuan2{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.yushuai{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.haibao{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.chaoyinsu{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.chaoyinsu{
    width: 100%;
    img{
        position: absolute;
        width: 100%;
        margin: 0 auto;
    }
    .swiper-slide{
        img{
            position: relative;
            width: 386px;
            height: 302px;
            margin: 90px auto;
            
        }
    }
}
.fengge{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.shishang{
    width: 100%;
    img{
        position: absolute;
        width: 100%;
        margin: 0 auto;
    }
    .swiper-slide{
        img{
            position: relative;
            width: 386px;
            height: 302px;
            margin: 50px auto;
            
        }
    }
}
.manjian{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.guochan{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.xianfeng{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.lanqiu{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.run{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.girl{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.pao{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
.renwu{
    width: 100%;
    img{
        margin: 0 auto;
        width: 100%;
    }
}
